.chatbot-form{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 2px solid black;
}

.chatbot-form>input,textarea{
    margin: 20px;
    border: 1px solid #243CF4;
}

.chatbot-form>input{
    padding: 10px;
    border-radius: 20px;
}

.chatbot-img{
    width: 50px;
    border: 2px solid red;
    border-radius: 50%;

}

.chatbot-img:hover{
    cursor: pointer;
}

.chatbot-container{
    position: sticky;
    bottom: 10px;
    right: 0;
    
}




@media screen and (max-width:768px) {

    .chatbot-form{
        width: 95%; 
        margin: auto;
    }
}